@model WebService.Models.Endereco

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-horizontal">
                        <h4>Cadastro Endereço</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.id_rua, "Rua", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("id_rua", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_rua, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.id_coluna, "Coluna", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("id_coluna", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_coluna, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.id_nivel, "Nível", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("id_nivel", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_nivel, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.id_led, "Led", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("id_led", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_led, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="box-footer">
                            <div class="pull-left">
                                @Html.ActionLink("Voltar", "Index")
                            </div>

                            <button type="submit" class="btn btn-success pull-right">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
