@model IEnumerable<WebService.Models.Usuario>

@{

    Layout = "~/Views/Shared/_mainView.cshtml";
}

<!DOCTYPE html>

<html>

<body>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">

                    <div class="box-header">
                        <div class="form-horizontal">
                            <h4 class="box-title">Lista de Usuarios</h4>
                            <h3>
                                @Html.ActionLink("Adicionar novo", "Create", "Usuario", new { @class = "btn btn-success" })
                            </h3>
                            <div class="box-body">
                                <div class="col-md-offset-8 col-md-10">
                                    @using (Html.BeginForm())
                                    {
                                        <p>
                                            Buscar Usuário: @Html.TextBox("nome")
                                            <input type="submit" value="Pesquisa" />
                                        </p>
                                    }
                                </div>
                                <table id="TabelaUsuarios" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.id_usuario)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.no_nome)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.no_email)
                                            </th>

                                            <th></th>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.id_usuario)</td>
                                                <td>@Html.DisplayFor(modelItem => item.no_nome)</td>

                                                <td>@Html.DisplayFor(modelItem => item.no_email)</td>

                                                <td>
                                                    @Html.ActionLink("Editar", "Edit", new { id = item.id_usuario }, new { @class = "btn btn-primary" }) |

                                                    @Html.ActionLink("Excluir", "Delete", new { id = item.id_usuario }, new { @class = "btn btn-danger" })
                                                </td>
                                            </tr>
                                        }
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
@*@section Scripts {
        <script>
            $(document).ready(function () {
                $('#TabelaUsuarios').DataTable({
                    "language": {
                        "search": "Procurar",
                        "paginate": { "previous": "Anterior", "next": "Próximo" },
                        "info": "Exibindo página _PAGE_ de _PAGES_",
                    },
                    'paging': true,
                    'lengthChange': false,
                    'ordering': true,
                    'info': true,
                    'autoWidth': false,
                    "ajax": {
                        "url": "/usuarios/Listar",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "id_usuario" },
                        { "data": "no_nome" },
                        { "data": "no_sexo" },
                        { "data": "no_email" },
                        { "data": "num_telefone" },


                    ]

                });
            });
        </script>
    }*@
